@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
.logo img{
    width: 300px;
    margin: 20px auto;
}
.rf{
    width: 100%!important;
}
body{
        
}
.main-nav{
    background: #6B8A78;
    height: 80px;
}
.main-nav a {
    color: #F1DEA3!Important;
    font:  300 1em 'Roboto',sans-serif;
    
}